* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.contain {
  max-width: 3000px;
  margin: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 26px;
  justify-content: space-between;
  gap: 20px;
  /* For Internet Explorer */
}
.navbar__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.navbar__box {
  background-color: #FF7070;
  padding: 13px 20px;
  border-radius: 50px;
}
.navbar__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.navbar__select {
  width: 90px;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #484848;
}
.navbar select {
  -webkit-appearance: none; /* For Chrome, Safari, Opera */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* Standard property */
}
.navbar select::-ms-expand {
  display: none;
}

@media (max-width: 500px) {
  .navbar {
    width: 90%;
    padding: 20px 0px;
    flex-direction: column;
  }
  .navbar__right {
    flex-wrap: wrap;
  }
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 50px);
  padding: 10px 0px 0px 0px;
  border-radius: 50px;
  border: 1px solid black;
  background: linear-gradient(180deg, #FDE7E2 0%, #FFC3C3 100%);
  flex-direction: column;
  background-color: red;
  gap: 0px;
}
.intro__title {
  width: 90%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 35.899px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #484848;
  text-shadow: 0px 4px 26.1px rgba(255, 255, 255, 0.25);
}
.intro__title-span {
  color: #4087FF !important;
}
.intro__center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 7px;
  align-items: end;
  gap: 40px;
  width: 100%;
}
.intro__center img {
  margin-top: 100px;
  max-height: 260px;
  max-width: 400px;
}
.intro__center-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-left: -200px;
  margin-right: -200px;
  margin-top: -100px;
  background: #ffffff;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(252, 10, 10, 0) 33%);
}
.intro__img1 {
  position: relative;
  top: 10px;
  left: 100px;
  z-index: 2;
  width: 300px;
  height: 370px;
  max-height: none !important;
}
.intro__img2 {
  position: relative;
  right: 70px;
  width: 200px;
  height: 300px;
  max-height: none !important;
}
.intro__img3 {
  position: relative;
  left: -200px;
  top: 60px;
  width: 290px;
  height: 200px;
  z-index: 4;
  max-height: none !important;
  max-width: 200px !important;
}
.intro__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  justify-content: start;
  gap: 40px;
  position: relative;
  top: 4px;
  background-color: #FFF1EE;
  width: calc(100% + 4px);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.intro__form {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
  position: relative;
  width: 40%;
}
.intro__button {
  width: 100%;
  max-width: 400px;
  border: none;
  padding: 20px;
  border-radius: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  box-shadow: 0px 2px 5px 4px #FFD5D5;
  color: #FFFFFF;
  background-color: #ff7070;
}
.intro__button:hover {
  opacity: 0.8;
}
.intro__button:active {
  opacity: 1;
}
.intro__bottom-form-text {
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: white;
  padding: 5px 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 12.8602px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FF7070;
  border-radius: 50px;
  transform: rotate(13.31deg);
}
.intro__bottom-text {
  max-width: 600px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.intro__bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 500px) and (max-width: 1100px) {
  .intro__title {
    font-size: 20px;
    line-height: normal;
    padding: 10px 0px;
  }
  .intro__center {
    flex-direction: column;
    align-items: center;
  }
  .intro__center-imgs {
    position: relative;
    left: -20%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
  }
  .intro__img {
    position: absolute;
    bottom: 0px;
    order: 3;
  }
  .intro__img-1 {
    right: 25%;
  }
  .intro__img-2 {
    right: 0%;
  }
  .intro__img1 {
    top: -50px;
    width: 200px;
    height: 200px;
    left: 80px;
  }
  .intro__img2 {
    top: -70px;
    left: -30px;
    width: 100px;
    height: 200px;
  }
  .intro__img3 {
    top: -40px;
    left: -100px;
    width: 100px;
    height: 100px;
  }
  .intro__bottom {
    flex-direction: column;
    width: calc(100% + 2px);
  }
  .intro__form {
    width: 100%;
  }
  .intro__button {
    max-width: none;
  }
  .intro__bottom-form-text {
    right: -20px;
  }
}
@media (max-width: 500px) {
  .intro {
    width: 95%;
  }
  .intro__title {
    font-size: 15px;
    line-height: normal;
    padding: 20px;
  }
  .intro__center {
    flex-direction: column;
    align-items: center;
  }
  .intro__center-imgs {
    position: relative;
    left: 0%;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .intro__img {
    position: absolute;
    bottom: 0px;
    order: 3;
  }
  .intro__img-1 {
    left: 0%;
  }
  .intro__img-2 {
    right: 0%;
  }
  .intro__img1 {
    top: -50px;
    width: 200px;
    height: 200px;
    left: 80px;
  }
  .intro__img2 {
    top: -70px;
    left: -30px;
    width: 100px;
    height: 200px;
  }
  .intro__img3 {
    top: -40px;
    left: -100px;
    width: 100px;
    height: 100px;
  }
  .intro__bottom {
    flex-direction: column;
    width: calc(100% + 2px);
  }
  .intro__form {
    width: 100%;
  }
}
.what-brings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0px 0px 0px;
}
.what-brings__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-items: start;
  padding: 40px;
  gap: 30px;
  background-color: #FCF9F7;
}
.what-brings__left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #FFE9E4;
  width: 50%;
  height: 366px;
  max-width: 366px;
  padding: 30px;
  border-radius: 50px;
}
.what-brings__title {
  text-align: center;
  padding: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 29.7917px;
  line-height: 36px;
  color: #484848;
}
.what-brings__text {
  max-width: 1000px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16.5767px;
  line-height: 20px;
  color: #000000;
}
.what-brings__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-content: start;
  padding: 20px;
}

@media (max-width: 1100px) {
  .what-brings__title {
    font-size: 20px;
    line-height: normal;
    text-align: center;
  }
  .what-brings__bottom {
    flex-wrap: wrap;
  }
  .what-brings__left {
    flex-grow: 1;
  }
}
@media (max-width: 500px) {
  .what-brings__bottom {
    padding: 20px 3%;
  }
}
.effect {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 26px;
  flex-direction: column;
  gap: 30px;
}
.effect__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.effect__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.effect__items-box {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #FFE9E4;
  border-radius: 40px;
  height: 245px;
  width: 245px;
  max-width: 300px;
}
.effect__items-box img {
  border-radius: 25px;
}
.effect__items-box-1 {
  align-items: start;
}
.effect__items-box-2 {
  align-items: end;
}
.effect__items-text {
  width: 265px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16.5767px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

@media (max-width: 1100px) {
  .effect {
    width: 90%;
    padding: 20px 0px;
  }
  .effect__cards {
    flex-wrap: wrap;
  }
  .effect__items-box {
    flex-grow: 1;
    width: 100%;
  }
  .effect__items {
    flex-grow: 1;
  }
}/*# sourceMappingURL=style.css.map */