@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.contain {
  max-width: 3000px;
  margin: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden !important;
}

.none {
  display: none !important;
}

.show {
  animation-name: show;
  animation-duration: 0.3s;
}

@keyframes show {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 26px;
  justify-content: space-between;
  gap: 20px;
  /* For Internet Explorer */
}
.navbar__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.navbar__box {
  background-color: #FF7070;
  padding: 13px 20px;
  border-radius: 50px;
}
.navbar__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.navbar__select {
  width: 90px;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #484848;
}
.navbar select {
  -webkit-appearance: none; /* For Chrome, Safari, Opera */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* Standard property */
}
.navbar select::-ms-expand {
  display: none;
}

@media (max-width: 500px) {
  .navbar {
    width: 90%;
    padding: 20px 0px;
    flex-direction: column;
  }
  .navbar__right {
    flex-wrap: wrap;
  }
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 50px);
  padding: 10px 0px 0px 0px;
  border-radius: 50px;
  border: 1px solid black;
  background: linear-gradient(180deg, #FDE7E2 0%, #FFC3C3 100%);
  flex-direction: column;
  background-color: red;
  gap: 0px;
}
.intro__title {
  width: 90%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 35.899px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #484848;
  text-shadow: 0px 4px 26.1px rgba(255, 255, 255, 0.25);
}
.intro__title-span {
  color: #4087FF !important;
}
.intro__center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 7px;
  align-items: end;
  gap: 40px;
  width: 100%;
}
.intro__center img {
  margin-top: 100px;
  max-height: 260px;
  max-width: 400px;
}
.intro__center-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-left: -200px;
  margin-right: -200px;
  margin-top: -100px;
  background: #ffffff;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(252, 10, 10, 0) 33%);
}
.intro__img1 {
  position: relative;
  top: 10px;
  left: 100px;
  z-index: 2;
  width: 300px;
  height: 370px;
  max-height: none !important;
}
.intro__img2 {
  position: relative;
  right: 70px;
  width: 200px;
  height: 300px;
  max-height: none !important;
}
.intro__img3 {
  position: relative;
  left: -200px;
  top: 60px;
  width: 290px;
  height: 200px;
  z-index: 4;
  max-height: none !important;
  max-width: 200px !important;
}
.intro__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  justify-content: start;
  gap: 40px;
  position: relative;
  top: 4px;
  background-color: #FFF1EE;
  width: calc(100% + 4px);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.intro__form {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
  position: relative;
  width: 40%;
}
.intro__button {
  width: 100%;
  max-width: 400px;
  border: none;
  padding: 20px;
  border-radius: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  box-shadow: 0px 2px 5px 4px #FFD5D5;
  color: #FFFFFF;
  background-color: #ff7070;
}
.intro__button:hover {
  opacity: 0.8;
}
.intro__button:active {
  opacity: 1;
}
.intro__bottom-form-text {
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: white;
  padding: 5px 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 12.8602px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FF7070;
  border-radius: 50px;
  transform: rotate(13.31deg);
}
.intro__bottom-text {
  max-width: 600px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.intro__bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 500px) and (max-width: 1100px) {
  .intro__title {
    font-size: 20px;
    line-height: normal;
    padding: 10px 0px;
  }
  .intro__center {
    flex-direction: column;
    align-items: center;
  }
  .intro__center-imgs {
    position: relative;
    left: -20%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
  }
  .intro__img {
    position: absolute;
    bottom: 0px;
    order: 3;
  }
  .intro__img-1 {
    right: 25%;
  }
  .intro__img-2 {
    right: 0%;
  }
  .intro__img1 {
    top: -50px;
    width: 200px;
    height: 200px;
    left: 80px;
  }
  .intro__img2 {
    top: -70px;
    left: -30px;
    width: 100px;
    height: 200px;
  }
  .intro__img3 {
    top: -40px;
    left: -100px;
    width: 100px;
    height: 100px;
  }
  .intro__bottom {
    flex-direction: column;
    width: calc(100% + 2px);
  }
  .intro__form {
    width: 100%;
  }
  .intro__button {
    max-width: none;
  }
  .intro__bottom-form-text {
    right: -20px;
  }
}
@media (max-width: 500px) {
  .intro {
    width: 95%;
  }
  .intro__title {
    font-size: 15px;
    line-height: normal;
    padding: 20px;
  }
  .intro__center {
    flex-direction: column;
    align-items: center;
  }
  .intro__center-imgs {
    position: relative;
    left: 0%;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .intro__img {
    position: absolute;
    bottom: 0px;
    order: 3;
  }
  .intro__img-1 {
    left: 0%;
  }
  .intro__img-2 {
    right: 0%;
  }
  .intro__img1 {
    top: -50px;
    width: 200px;
    height: 200px;
    left: 80px;
  }
  .intro__img2 {
    top: -70px;
    left: -30px;
    width: 100px;
    height: 200px;
  }
  .intro__img3 {
    top: -40px;
    left: -100px;
    width: 100px;
    height: 100px;
  }
  .intro__bottom {
    flex-direction: column;
    width: calc(100% + 2px);
  }
  .intro__form {
    width: 100%;
  }
}
.what-brings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0px 0px 0px;
}
.what-brings__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-items: start;
  padding: 40px;
  gap: 30px;
  background-color: #FCF9F7;
}
.what-brings__left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #FFE9E4;
  width: 50%;
  height: 366px;
  max-width: 366px;
  padding: 30px;
  border-radius: 50px;
}
.what-brings__title {
  text-align: center;
  padding: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 29.7917px;
  line-height: 36px;
  text-transform: uppercase;
  color: #484848;
}
.what-brings__text {
  max-width: 1000px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16.5767px;
  line-height: 20px;
  color: #000000;
}
.what-brings__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-content: start;
  padding: 20px;
}

@media (max-width: 1100px) {
  .what-brings__title {
    font-size: 20px;
    line-height: normal;
    text-align: center;
  }
  .what-brings__bottom {
    flex-wrap: wrap;
  }
  .what-brings__left {
    flex-grow: 1;
  }
}
@media (max-width: 500px) {
  .what-brings__bottom {
    padding: 20px 3%;
  }
}
.effect {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 26px;
  flex-direction: column;
  gap: 30px;
}
.effect__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.effect__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.effect__items-box {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #FFE9E4;
  border-radius: 40px;
  height: 245px;
  width: 245px;
  max-width: 300px;
}
.effect__items-box img {
  border-radius: 25px;
}
.effect__items-box-1 {
  align-items: start;
}
.effect__items-box-2 {
  align-items: end;
}
.effect__items-text {
  width: 265px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16.5767px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

@media (max-width: 1100px) {
  .effect {
    width: 90%;
    padding: 20px 0px;
  }
  .effect__cards {
    flex-wrap: wrap;
  }
  .effect__items-box {
    flex-grow: 1;
    width: 100%;
  }
  .effect__items {
    flex-grow: 1;
  }
}
.best {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px 0px 0px;
}
.best__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  padding: 20px 0px;
  background-color: #FCF9F7;
}
.best__left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best__img {
  position: absolute;
}
.best__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 1000px;
  gap: 25px;
}
.best__items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  gap: 5px;
  justify-content: start;
  position: relative;
  padding: 10px 40px 10px 0px;
  background-color: #D8E9F2;
}
.best__items img {
  position: relative;
  right: 30px;
}
.best__items-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 1100px) {
  .best__bottom {
    flex-direction: column;
    padding: 20px 0px 20px 20px;
  }
  .best__right {
    padding: 20px;
  }
  .best__items {
    height: auto;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .best__img {
    width: 100%;
    max-width: 209px;
  }
  .best__svg {
    width: 100%;
  }
}
.sale {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 26px;
  position: relative;
  flex-direction: column;
  gap: 40px;
}
.sale__form {
  width: auto;
}
.sale__span {
  color: #FF7070 !important;
}
.sale__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 700px;
  left: 34%;
  top: 350px;
  animation-name: sale-animate;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.sale__items {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sale__top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -50px;
  left: -100px;
  gap: 10px;
}
.sale__top img {
  max-width: 75px;
}
.sale__top-items {
  position: relative;
  background-color: #B6E0D8;
  padding: 5px;
  z-index: 1;
}
.sale__top-items:nth-child(1) {
  top: 25px;
  left: 30px;
  transform: rotate(-13deg);
  z-index: 2;
}
.sale__top-items:nth-child(2) {
  top: -10px;
  left: 25px;
}
.sale__main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: absolute;
  left: 2%;
  top: 5%;
  bottom: 25%;
  right: 2%;
  z-index: 0;
  background-color: white;
  border-radius: 20px;
}
.sale__main-box svg {
  width: 400px;
}
.sale__items-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  text-align: start;
  color: #000000;
}
.sale__items-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.sale__center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.sale__main {
  position: relative;
}
.sale__right {
  position: relative;
  right: 50px;
  top: -50px;
  width: 100px;
  height: 200px;
}
.sale__right img {
  position: absolute;
  top: -50px;
}
.sale__right-img-2 {
  top: 100px !important;
  left: -200px !important;
}
.sale__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 500px;
  background-color: #FFE9E4;
  width: 100%;
  height: 500px;
  border-radius: 30px;
}
.sale__bottom svg {
  width: 100px;
}

@keyframes sale-animate {
  0% {
    transform: translateX(0px);
  }
  5% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(-1380px);
  }
  50% {
    transform: translateX(-1380px);
  }
  60% {
    transform: translateX(-2780px);
  }
  70% {
    transform: translateX(-2780px);
  }
  80% {
    transform: translateX(-4180px);
  }
  90% {
    transform: translateX(-4180px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media (max-width: 1100px) {
  .sale__cards {
    position: static;
    margin-top: 100px;
    animation-name: none;
    flex-direction: column;
    gap: 140px;
  }
  .sale__items {
    flex-direction: column;
  }
  .sale__main-box {
    position: static;
    max-width: 800px;
    background-color: #B6E0D8;
    flex-direction: column;
    align-items: center;
    text-align: center !important;
    gap: 20px;
    padding: 10px;
    height: auto;
  }
  .sale__main-box svg {
    height: 40px !important;
    width: 40px;
    max-height: none;
  }
  .sale__items-title {
    width: 100%;
    text-align: center;
  }
  .sale__main svg:nth-child(1) {
    display: none;
  }
  .sale__right {
    position: absolute;
    right: 50px;
    top: 100px;
    width: 100px;
    height: 200px;
  }
  .sale__right img {
    position: absolute;
    top: 30px;
    max-width: 150px;
    z-index: 4;
  }
  .sale__right-img-1 {
    max-width: 50px !important;
  }
  .sale__right-img-2 {
    top: 30px !important;
    left: 0px !important;
  }
  .sale__items-text {
    z-index: 3;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
  }
  .sale__top {
    top: -100px;
    left: 0px;
  }
  .sale__items-title {
    z-index: 3;
  }
  .sale__bottom {
    margin-top: 50px;
  }
  .sale__bottom svg {
    width: 60px;
  }
}
@media (max-width: 500px) {
  .sale {
    width: 90%;
    padding: 20px 0px;
  }
  .sale__top {
    left: -30px;
  }
  .sale__right {
    top: 160px;
  }
  .sale__cards {
    gap: 250px;
  }
  .sale__bottom {
    margin-top: 100px;
    height: 200px;
  }
  .sale__bottom svg {
    width: 40px;
  }
}
.often {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 20px 0px;
  flex-direction: column;
  gap: 50px;
}
.often__center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 20px 26px;
  background-color: #FCF9F7;
  width: 100%;
  gap: 70px;
}
.often__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.often__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 16.5767px;
  line-height: 24px;
  /* or 145% */
  color: #000000;
}
.often__items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  padding: 20px 20px 20px 0px;
  border-bottom: 1px solid rgb(131, 129, 129);
}
.often__items-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16.5767px;
  line-height: 24px;
  /* or 145% */
  color: #000000;
}
.often__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}
.often__right {
  position: relative;
}
.often__right-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  position: absolute;
  bottom: 0px;
}
.often__right-box-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.often__right-button {
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 20px;
  /* Biz bilan bog‘laning */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  background-color: white;
}
.often__form {
  width: auto;
}

@media (max-width: 1100px) {
  .often__center {
    flex-wrap: wrap;
    justify-content: end;
  }
  .often__left {
    margin-right: 20%;
  }
  .often__right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 100%;
  }
  .often__right img {
    width: 100%;
    right: 0px;
    max-width: 200px;
  }
  .often__right-box {
    position: static;
    width: 100%;
    align-items: center;
  }
  .often__form {
    padding: 20px;
  }
  .often__form-button {
    font-size: 15px;
    padding: 10px;
  }
  .often__form-text {
    padding: 0px;
    width: 100px;
    background-color: white;
    right: 0px;
    top: 20px;
    font-size: 10px;
  }
}
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 0px 30px;
  position: fixed;
  top: 5%;
  right: 5%;
  left: 5%;
  width: auto;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 20px 1px rgb(208, 207, 207);
  border-radius: 30px;
  z-index: 4;
}
.register__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.register__left {
  position: relative;
  top: -100px;
}
.register__img-1 {
  position: relative;
  bottom: -100px;
  z-index: 2;
}
.register__close {
  position: absolute;
  right: 20px;
  top: 20px;
}
.register__img-2 {
  position: absolute;
  top: 0px;
  left: 30px;
  z-index: 0;
}
.register__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.register__form-text {
  position: absolute;
  bottom: 50px;
  top: auto;
}
.register__form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 100%;
}
.register__form-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.register__form-boxes svg {
  position: absolute;
  left: 12px;
  bottom: 8px;
}
.register__label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17.6277px;
  line-height: 21px;
  color: #000000;
  text-shadow: 1.6526px 0px 5.12305px #FFFFFF;
}
.register__input {
  width: 500px;
  border: 1px solid black;
  padding: 10px 10px 10px 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17.6277px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1.6526px 0px 5.12305px #FFFFFF;
  outline: none;
  border-radius: 30px;
}
.register__right {
  position: relative;
  top: 200px;
  height: 700px;
}
.register__wall {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 750px;
  width: 505px;
  z-index: -1;
}
.register__img-3 {
  position: relative;
  top: 200px;
}
.register__arrow {
  position: absolute;
  top: 150px;
  right: 0px;
  color: black !important;
}
.register__right-text {
  position: absolute;
  top: 120px;
  left: 100px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 0px rgb(208, 207, 207);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 12.8602px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #FF7070;
}

@media (max-width: 1100px) {
  .register {
    bottom: 5%;
    justify-content: space-between;
    padding: 0px;
  }
  .register__title {
    padding: 50px 10px 10px;
    font-size: 18px !important;
  }
  .register__bottom {
    flex-direction: column;
    gap: 0px;
  }
  .register__left {
    position: absolute;
    top: 200px;
    left: 10%;
  }
  .register__img-2 {
    width: 130px;
  }
  .register__img-1 {
    width: 150px;
  }
  .register__form {
    margin-top: 100px;
    width: 100%;
  }
  .register__input {
    width: 100%;
  }
  .register__right {
    position: absolute;
    top: 100px;
    right: 10%;
  }
  .register__img-3 {
    width: 150px;
  }
  .register__wall {
    width: 204px;
    height: 300px;
  }
}/*# sourceMappingURL=style.css.map */