.best {
  @include display();
  flex-direction: column;
  padding: 30px 0px 0px 0px;

  &__bottom {
    @include display();
    width: 100%;
    // justify-content: end;
    gap: 30px;
    padding: 20px 0px;
    background-color: #FCF9F7;
  }

  &__left {
    position: relative;
    @include display();
  }

  &__img {
    position: absolute;
  }

  &__right{
    @include display();
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 1000px;
    gap: 25px;
  }

  &__items {
    @include display();
    width: 100%;
    height: 50px;
    gap: 5px;
    justify-content: start;
    position: relative;
    padding: 10px 40px 10px 0px;
    background-color: #D8E9F2;

    & img {
      position: relative;
      right: 30px;
    }
  }

  &__items-text {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;


  }
}

@media (max-width: 1100px) {
  .best {
    &__bottom {
      flex-direction: column;
      // align-items: end;
      padding: 20px 0px 20px 20px;
    }

    &__right {
      padding: 20px;
    }

    &__items{ 
      height: auto;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }

    &__img {
      width: 100%;
      // max-height: 200px;
      max-width: 209px;
    }

    &__svg {
      // max-height:   200px;
      width: 100%;
    }
  }
}