@import "./mixin";
@import "./general";
@import "./navbar";
@import "./header";
@import "./what-brings";
@import "./effect-symptoms";
@import "./best-thing";
@import "./sale-50";
@import "./often-questions";