*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width:100%;
}

.contain {
  max-width: 3000px;
  margin: auto;
  width:100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden !important;
}


.none {
  display: none !important;
}

.show {
  animation-name: show;
  animation-duration: 0.3s;
}

@keyframes show {
  0%{
    transform: translateY(-20px);
  }100%{
    transform: translateY(0px);
  }
}

