*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width:100%;
}

.contain {
  max-width: 3000px;
  margin: auto;
  width:100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}