.navbar {
  @include display();
  @include paddingD(20px);
  justify-content: space-between;
  gap: 20px;
  // background-color: red;

  &__right {
    @include display();
    gap: 15px;
  }

  &__box {
    background-color: #FF7070;
    padding: 13px 20px;
    border-radius: 50px;
  }

  &__title {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
  }

  &__select {
    width: 90px;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #484848;
  }

  select {
  -webkit-appearance: none; /* For Chrome, Safari, Opera */
  -moz-appearance: none;    /* For Firefox */
  appearance: none;         /* Standard property */
  } 

  /* For Internet Explorer */
  select::-ms-expand {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar{
    @include paddingP(20px);
    flex-direction: column;
  }
}