.register {
  @include display();
  // @include paddingD(30px);
  padding: 30px 0px 0px 30px;
  position: fixed;
  // top: 2%;
  top: 5%;
  // bottom: 5%;
  right: 5%;
  left: 5%;
  width: auto;
  // max-width: 1224px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 20px 1px rgb(208, 207, 207);
  border-radius: 30px;
  z-index: 4;


  &__bottom {
    @include display();
    gap: 30px;
  }

  &__left {
    position: relative;
    top: -100px;
    // background-color: red;
  }

  &__img-1 {
    position: relative;
    bottom: -100px;
    z-index: 2;
    // background-color: red;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &__img-2 {
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 0;
    // background-color: red
  }

  &__form {
    @include display(); 
    flex-direction: column;
    gap: 50px;
  }

  &__form-text {
    position: absolute;
    bottom: 50px;
    top: auto;
  }

  &__form-box {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width:100%;
  }

  &__form-boxes {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    // background-color: red;
    & svg {
      position: absolute;
      // top: 35px;
      left: 12px;
      bottom: 8px;
    }
  }

  &__label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17.6277px;
    line-height: 21px;

    color: #000000;
    // background-color: red;
    text-shadow: 1.6526px 0px 5.12305px #FFFFFF;
  }

  &__input {
    width: 500px;
    border: 1px solid black;
    padding: 10px 10px 10px 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17.6277px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1.6526px 0px 5.12305px #FFFFFF;
    outline: none;
    border-radius: 30px;
  }

  &__right {
    position: relative; 
    top: 200px;
    height: 700px;
    // background-color: blue;
  }
  
  &__wall {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 750px;
    width: 505px;
    z-index: -1;
  }

  &__img-3 {
    position: relative;
    top: 200px;
    // background-color: red;
    // left: 140%;
  }

  &__arrow {
    position: absolute;
    top: 150px;
    right: 0px;
    color: black !important;
    // background-color: red;
  }

  &__right-text {
    position: absolute;
    top: 120px;
    left: 100px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px rgb(208, 207, 207);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 12.8602px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;

    color: #FF7070;
  }


}

@media (max-width:1100px) {
  .register {
    bottom: 5%;
    justify-content: space-between;
    padding: 0px;
    &__title {
      padding: 50px 10px 10px;
      font-size: 18px !important;
    }
    &__bottom {
      flex-direction: column;
      gap: 0px;
    }

    &__left {
      position: absolute;
      top: 200px;
      left: 10%;
    }

    &__img-2 {
      width: 130px;
    }

    &__img-1 {
      width: 150px;
    }

    &__form {
      margin-top: 100px;
      width: 100%;
      // background-color: red;
    }

    &__input {
      width: 100%;
    }

    &__right {
      position: absolute;
      top: 100px;
      right: 10%;
      // background-color: red;
    }

    &__img-3 {
      width: 150px;
    }

    &__wall {
      width: 204px;
      height: 300px;
      // height: 500px;
    }
  }
}