.sale {
  @include display();
  @include paddingD(30px);
  position: relative;
  flex-direction: column;
  gap: 40px;

  &__form {
    width: auto;
  }

  &__span {
    color: #FF7070 !important;
  }

  &__cards {
    @include display();
    position: absolute;
    gap: 700px;
    // margin-top: 100px;
    left: 34%;
    top: 350px;
    // width: 100px;
    // background-color: red;
    animation-name: sale-animate;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    // display: none;
  }

  &__items {
    @include display();
    position: relative;
    // width: 0px;
  }

  &__top {
    @include display();
    position: absolute;
    top: -50px;
    left: -100px;
    gap: 10px;

    & img {
      max-width: 75px;
    }
  }

  &__top-items {
    position: relative;
    background-color: #B6E0D8;
    padding: 5px;
    z-index: 1;
  }

  &__top-items:nth-child(1){
    top: 25px;
    left: 30px;
    transform: rotate(-13deg);
    z-index: 2;
  }

  &__top-items:nth-child(2){
    top: -10px;
    left: 25px;
    // transform: rotate(-13deg);
  }

  &__main-box {
    @include display();
    justify-content: space-between;
    position: absolute;
    left: 2%;
    top: 5%;
    bottom: 25%;
    right: 2%;
    z-index: 0;
    // top: 0px;
    background-color: white;
    border-radius: 20px;

    & svg {
      width: 400px;
    }
  }

  &__items-title {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    text-align: start;

    color: #000000;
  }

  &__items-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
  }

  &__center {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  &__main {
    position: relative;
  }

  &__right{
    position: relative;
    right: 50px;
    top: -50px;
    width: 100px;
    height: 200px;
    & img {
      position: absolute;
      top: -50px;
    }
  }

  &__right-img-2 {
    top: 100px !important;
    left: -200px !important;
  }

  &__bottom {
    @include display();
    margin-top: 500px;
    background-color: #FFE9E4;
    width: 100%;
    height: 500px;
    border-radius: 30px;

    & svg {
      width: 100px;
    }
  }
}




@keyframes sale-animate {
  0%{
    transform: translateX(0px);
  }5%{
    transform: translateX(0px);
  }40%{
    transform: translateX(-1380px);
  }50%{
    transform: translateX(-1380px);
  }60%{
    transform: translateX(-2780px);
  }70%{
    transform: translateX(-2780px);
  }80%{
    transform: translateX(-4180px);
  }90%{
    transform: translateX(-4180px);
  }100%{
    transform: translateX(0px);
  }
}


@media(max-width: 1100px) {
  .sale {
    &__cards {
      position: static; 
      margin-top: 100px;
      animation-name: none;
      flex-direction: column;
      gap: 140px;
    } 

    &__items {
      flex-direction: column;
    }

    &__main-box {
      position: static;
      max-width: 800px;
      background-color: #B6E0D8;
      flex-direction: column;
      align-items: center;
      text-align: center !important;
      gap: 20px;
      padding: 10px;
      height: auto;
      & svg {
        height: 40px !important;
        width: 40px;
        // background-color: red;
        max-height: none;
      }
    }

    &__items-title {
      width: 100%;
      text-align: center;
    }

    &__main {
      & svg:nth-child(1) {
        display: none;
      }
    }

    &__right{
    position: absolute;
    right: 50px;
    top: 100px;
    width: 100px;
    height: 200px;
    & img {
      position: absolute;
      top: 30px;
      max-width: 150px;
      z-index: 4;
    }
  }
  &__right-img-1 {
    max-width: 50px !important;
  }

  &__right-img-2 {
    top: 30px !important;
    left: 0px !important;
  }

  &__items-text {
    z-index: 3;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
  }

  &__top {
    top: -100px;
    left: 0px;
  }

  &__items-title {
    z-index: 3;
  }

  &__bottom {
    margin-top: 50px;

    & svg {
      width: 60px;
    }
  }

  }
}

@media (max-width: 500px) {
  .sale {
    @include paddingP(20px);
    &__top {
      left: -30px;
      
    }

    &__right {
      top: 160px;
    }

    &__cards {
      gap: 250px;
    }

    &__bottom {
      margin-top: 100px;
      height: 200px;
      & svg {
        width: 40px;
      }
    }
  }
}