.what-brings {
  @include display();
  flex-direction: column;
  gap: 30px;
  padding: 50px 0px 0px 0px; 

  &__bottom {
    @include display();
    width:100%;
    align-items: start;
    padding: 40px;
    gap: 30px;
    background-color: #FCF9F7;
  }

  &__left {
    @include display();
    position: relative;
    background-color: #FFE9E4;
    width: 50%;
    height: 366px;
    max-width: 366px;
    padding: 30px;
    border-radius: 50px;

    // & svg {
    //   // position: absolute;
    // }
  }

  &__title {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 29.7917px;
    line-height: 36px;

    color: #484848;
  }

  &__text {
    max-width: 1000px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16.5767px;
    line-height: 20px;

    color: #000000;
  }

  &__right {
    @include display();
    flex-direction: column;
    gap: 30px;
    align-items: start;
    justify-content: start;
    padding: 20px;
  }
}


@media (max-width: 1100px) {
  .what-brings {

    &__title {
      font-size: 20px;
      text-align: center;
    }

    &__bottom {
      flex-wrap: wrap;
    }

    &__text {
      // text-align: center;
    }

    &__left{
      // width:100%;
      flex-grow: 1;
    }
  }
}

@media (max-width: 500px) {
  .what-brings {

    &__bottom {
      padding: 20px 3%;
    }
  }
}
